<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {
            background-image: {{ gradient }};
        }
    </style>
</head>
<body>
    <div class="hero">
        <h3>Currently uploading page {{page}} of section {{section}}</h3>
        <div class="forms">
            <form class="form" action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" id="file" name="file">
                <input type="submit" style="background-image: {{ button_gradient }};" value="Upload Image">
            </form>

            <form class="form" action="/next-section" method="post">
                <label for="next-section">Next section</label>
                <input type="submit" id="next-section" name="next-section" value="Next Chapter/Section">
            </form>

            <form class="form" action="/finished" method="post">
                <label for="finished">Finished</label>
                <input type="submit" id="finished" name="finished" value="Finished Uploading?">
            </form>
        </div>
    </div>
</body>
</html>